* {
  margin: 0;
  padding: 0;
}
.text {
  /* border: 1px solid red; */
  align-items: center;
}
.text h2 {
  text-align: center;
}
.inputValue {
  /* border: 1px solid black; */
  text-align: center;
  margin-top: 3em;
}
.show-more-button {
  padding: 10px 20px;
  /* margin: 30px auto; */
  margin-top: 20rem;
  border-radius: 5px;
  margin-left: 43em;
  cursor: pointer;
  display: none;
}
.search-results {
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.search-result{
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.search-result img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
